
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>必须使用域名打开：api.flybirdyoyo.com ;并登录</p>
<a href="@Model.AuthCodeAddress" target="_parent">菜鸟登录授权</a>