@using FlyBirdYoYo.DomainEntity.ViewModel
@model PddIndexViewModel


@{
    ViewData["Title"] = "快鸟YoYo-【拼多多】";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>快鸟YoYo-【拼多多】</h2>

<a href="@Model.AuthCodeAddress" target="_parent">拼多多登录授权</a>