<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie6"><![endif]-->
<!--[if IE 7 ]><html class="ie7"><![endif]-->
<!--[if IE 8 ]><html class="ie8"><![endif]-->
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="w3c">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="shortcut" type="image/x-icon" href="favicon.ico" />
    <link rel="bookmark" type="image/x-icon" href="favicon.ico" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta content="always" name="referrer">


</head>
<body class="">
    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
