
html #layui_layer_skinespressostylecss {
  display: none;
  position: absolute;
  width: 1989px;
}
body .layer-ext-newstyle {
  border: 1px solid #8D8D8D;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background: #fff;
}
body .layer-ext-newstyle .layui-layer-padding {
  padding: 27px 20px 22px 75px;
}
body .layer-ext-newstyle .layui-layer-title {
  border-bottom: 1px solid #eee;
  font-size: 18px;
  color: #0e90d2;
  padding: 0;
  text-indent: 1em;
  font-family: "Microsoft YaHei", "微软雅黑", "SimHei", "黑体";
  height: 50px;
  line-height: 44px;
}
body .layer-ext-newstyle .layui-layer-min cite {
  height: 5px;
  background: #000;
}
body .layer-ext-newstyle .layui-layer-close {
  background: url(close.png);
  width: 14px;
  height: 14px;
  transition: all 0.3s ease 0s;
}
body .layer-ext-newstyle .layui-layer-close:hover {
  /*transform: rotate(360deg);*/
  text-indent: 0;
  text-decoration: none;
  background-position: 0 0;
}
body .layer-ext-newstyle .layui-layer-max {
  background: none;
  border: 1px solid #000;
  border-top-width: 4px;
  height: 10px;
  overflow: hidden;
}
body .layer-ext-newstyle .layui-layer-max:hover {
  transform: rotate(360deg);
  border-color: #2D93CA;
}
body .layer-ext-newstyle .layui-layer-setwin {
  top: 18px;
}
body .layer-ext-newstyle .layui-layer-content .layui-layer-ico {
  width: 48px;
  height: 48px;
}
body .layer-ext-newstyle .layui-layer-btn {
  text-align: right;
  padding-right: 5px;
}
body .layer-ext-newstyle .layui-layer-btn .layui-layer-btn0 {
  background: #0e90d2;
  height: 36px;
  line-height: 36px;
  padding: 0 25px;
  font-size: 14px;
  border-radius: 4px;
}
body .layer-ext-newstyle .layui-layer-btn .layui-layer-btn1 {
  background: #f37b1d;
  height: 36px;
  line-height: 36px;
  padding: 0 25px;
  font-size: 14px;
  border-radius: 4px;
}
